@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    /* @apply text-2xl truncate overflow-hidden whitespace-nowrap; */
  }

 
}


*{
  scroll-behavior: smooth;
}
input[type="checkbox"] {
  appearance: none; /* Loại bỏ giao diện mặc định của checkbox */
  -webkit-appearance: none; /* Tương tự với trình duyệt Safari */
  width: 20px; /* Đặt kích thước checkbox */
  height: 20px;
  border-radius: 50%; /* Làm tròn góc để tạo hình dạng tròn */
  border: 1px solid #ccc; /* Thêm đường viền để tạo khung viền */
}

/* Thiết lập trạng thái checked */
input[type="checkbox"]:checked {
  background-color: #007bff; /* Màu nền khi checkbox được chọn */
}

/* Ẩn hộp kiểm mặc định */
input[type="checkbox"]::before {
  content: ""; /* Loại bỏ nội dung trước checkbox */
  display: block; /* Hiển thị thành khối */
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Làm tròn góc để tạo hình dạng tròn */
}

/* Thiết lập màu khi checkbox được chọn */
input[type="checkbox"]:checked::before {
  background-color: #007bff; /* Màu nền khi checkbox được chọn */
}
